body {
	background: url("../images/Wood-Desktop-BG.png");
	background-size: cover;
}

p {
	font-family: 'PT Sans', sans-serif;
	color: #fff;
}

.leftSide, .rightSide {
	background: black;
	padding: 0px;
	border: 3px #ffffff double;
	border-radius: 10px;
}


.row.row-eq-height {
    padding-left: 20px;
}


